pdf_pages
fullpages
extracted_images
extracted_figures_by_caption
annotated_results
Crop_imgs
.DS_Store
extracted_openCV.py
pdf_img_fetch
Gemini/.env
output_metadata.json
__init__.cpython-311.pyc
app.cpython-311.pyc
utils.cpython-311.pyc
output_metadata.json
Crop_imgs_demo
__pycache__
generate_output.txt
test.py
tmp
